# Obsidian

.obsidian/
Private Notes/

# Gitgnored because document not public 
From Jetson Design Guide/

# Altium files
History/
__Previews/
__ProjectOutputs/
ProjectOutputs*/
Project Logs*/
*.zip
*.PcbDoc.htm
*.SchDoc.htm